# ignore everything in the root except the "wp-content" directory.
*
!wp-content
!wp-config.php
!index.php
!.editorconfig
!composer.json
!composer.lock

!wp
wp/*

!lib
!lib/*

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/index.php
!wp-content/mu-plugins/

# ignore these plugins
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/index.php

# ignore specific themes
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/recipepocket
!wp-content/themes/recipepocket/*
!wp-content/themes/index.php

!wp-content/uploads/
wp-content/uploads/*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

.DS_Store

private/
